doctype html
html
  include inc/header

  body
  .navbar.navbar-default.navbar-static-top(role='navigation')
      .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') #{brand}
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              - var obj = { 'home':'Home', 'about':'About' }
                - each val, key in obj
                  - if (id == key)
                    li.active
                      a(href='#{key}') #{val}
                  - else            
                    li
                      a(href='#{key}') #{val}
            form(method="post",action="/").form-inline.navbar-form.pull-right
             input(id="username",type="text",placeholder="Username",name="username",required).input-small
             input(id="password",type="password",placeholder="Password",name="password",required).input-small
             input(id="login",type="submit",name="login").btn.btn-info Submit                 

    block content
  
  include inc/footer
